@model RouteListModel

@{
	var exists = Model != null && Model.SheetId != 0;
	ViewBag.Title = (exists ? "Редактирование" : "Создание") + " RouteList";
}

<form asp-action="Update" asp-antiforgery="true" method="post">
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="BusId"></label>
				<input type="text" asp-for="BusId" class="form-control"/>
				<span asp-validation-for="BusId" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="DriverId"></label>
				<input type="text" asp-for="DriverId" class="form-control"/>
				<span asp-validation-for="DriverId" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="RouteId"></label>
				<input type="text" asp-for="RouteId" class="form-control"/>
				<span asp-validation-for="RouteId" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="DataRoute"></label>
				<input type="text" asp-for="DataRoute" class="form-control dateTimePicker"/>
				<span asp-validation-for="DataRoute" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn btn-outline-primary" type="submit">@(exists ? "Сохранить" : "Добавить")</button>
			<a asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
		</div>
	</div>
</form>
