@model ScheduleModel

@{
	var exists = Model != null && Model.ScheduleId != 0;
	ViewBag.Title = (exists ? "Редактирование" : "Создание") + " Schedule";
}

<form asp-action="Update" asp-antiforgery="true" method="post">
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="RouteId"></label>
				<input type="text" asp-for="RouteId" class="form-control"/>
				<span asp-validation-for="RouteId" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="StopId"></label>
				<input type="text" asp-for="StopId" class="form-control"/>
				<span asp-validation-for="StopId" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="DepartureTime"></label>
				<input type="text" asp-for="DepartureTime" class="form-control"/>
				<span asp-validation-for="DepartureTime" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="ArrivalTime"></label>
				<input type="text" asp-for="ArrivalTime" class="form-control"/>
				<span asp-validation-for="ArrivalTime" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn btn-outline-primary" type="submit">@(exists ? "Сохранить" : "Добавить")</button>
			<a asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
		</div>
	</div>
</form>
