@model CompanyModel

@{
	var exists = Model != null && Model.CompanyId != 0;
	ViewBag.Title = (exists ? "Редактирование" : "Создание") + " Company";
}

<form asp-action="Update" asp-antiforgery="true" method="post">
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="CompanyName"></label>
				<input type="text" asp-for="CompanyName" class="form-control"/>
				<span asp-validation-for="CompanyName" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="Owner"></label>
				<input type="text" asp-for="Owner" class="form-control"/>
				<span asp-validation-for="Owner" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn btn-outline-primary" type="submit">@(exists ? "Сохранить" : "Добавить")</button>
			<a asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
		</div>
	</div>
</form>
