@{
    ViewData["Title"] = "ShowRoute";
}

@using UI.Areas.Public.Models;
@model List<RouteViewModel>

<head>
    <title>Маршрутный лист</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
            text-align: center;
            padding: 5px;
        }

        h1 {
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Маршрутный лист</h1>

    <table>
        <thead>
            <tr>
                <th>Название маршрута</th>
                <th>Имя водителя</th>
                <th>Номер автобуса</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var route in Model)
            {
                <tr>
                    <td>@route.RouteName</td>
                    <td>@route.DriverName</td>
                    <td>@route.BusNumber</td>
                </tr>
            }
        </tbody>
    </table>
</body>